<div class="page-header">
  <div class="section">
    <h1>{{ page.name }}</h1>
  </div>
</div>
<div class="page-details">
  <div class="section grid">
    <div class="col page-panels">
      <div class="page-panel">
        <h3>Goals</h3>
        <p>{{ page.goals }}</p>
      </div>
      <div class="page-panel">
        <h3>Approach</h3>
        <p>{{ page.approach }}</p>
      </div>
      <div class="page-panel">
        <h3>Results</h3>
        <p>{{ page.results }}</p>
      </div>
    </div>
    <div class="col page-images">
      <img *ngFor="let image of page.images" [src]="image" alt="Image" />
    </div>
  </div>
</div>
<div class="page-tags">
  <div class="section">
    <div class="grid">
      <div class="col">
        <h3>Locations</h3>
        <ul>
          <li *ngFor="let location of page.locations">{{ location }}</li>
        </ul>
      </div>
      <div class="col">
        <h3>Industries</h3>
        <ul>
          <li *ngFor="let industry of page.industries">{{ industry }}</li>
        </ul>
      </div>
      <div class="col">
        <h3>Activities</h3>
        <ul>
          <li *ngFor="let activity of page.activities">{{ activity }}</li>
        </ul>
      </div>
      <div class="col">
        <h3>Technologies</h3>
        <ul>
          <li *ngFor="let technology of page.technologies">{{ technology }}</li>
        </ul>
      </div>
    </div>
    <div class="grid">
      <div class="col">
        <h3>Contacts</h3>
        <ul>
          <li *ngFor="let contact of page.contacts">{{ contact }}</li>
        </ul>
      </div>
      <div class="col">
        <h3>Years</h3>
        <ul>
          <li *ngFor="let year of page.years">{{ year }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
