.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    background-color: #efefef;
    color: #333;
    margin-right: 2px;
    padding: 10px;
    text-decoration: none;
}

.list-item:hover {
    background-color: #dddddd;
}

.lang {
    float: right;
}
